*.zip
*.aux
projekt1/Aufgaben.log
projekt1/.vscode/*
*/*/.vscode/*
projekt1/Aufgabe7/HiFlow3/*
.vscode/ipch/547263e779daf677/demo_with_bugs.ipch
.vscode/ipch/547263e779daf677/mmap_address.bin
.vscode/ipch/f2c2f9d9b244557b/mandelbrot.ipch
.vscode/ipch/5a4051a63cef9f1d/mmap_address.bin
.vscode/ipch/5e4aef501e5d914/mandelbrot.ipch
.vscode/ipch/5a4051a63cef9f1d/partielleDifferentialgleichung.ipch
.vscode/ipch/5e4aef501e5d914/mmap_address.bin
.vscode/ipch/70d93c86b21ca606/gaus_seidel.ipch
.vscode/ipch/70d93c86b21ca606/mmap_address.bin
.vscode/ipch/c6d7aa41d81d47c8/mandelbrot.ipch
.vscode/ipch/c6d7aa41d81d47c8/mmap_address.bin
.vscode/ipch/f2c2f9d9b244557b/mmap_address.bin
.vscode/ipch/f7b6bd59143f5475/gmresRetry.ipch
.vscode/ipch/f7b6bd59143f5475/mmap_address.bin
projekt1/Aufgabe4/gaus_seidel
projekt1/Aufgabe6/gmresRetry
projekt1/Aufgabe1/mandelbrot
projekt1/Aufgabe2/mat_mul
projekt1/Aufgabe2/mandelbrot
projekt1/Aufgaben.fdb_latexmk
projekt1/Aufgaben.fls
projekt1/Aufgaben.pdf
projekt1/Aufgaben.synctex.gz
projekt1/Aufgabe7/*
projekt1/Präsentation/intro.fdb_latexmk
projekt1/Präsentation/intro.nav
projekt1/Präsentation/intro.fls
projekt1/Präsentation/intro.out
projekt1/Präsentation/intro.snm
projekt1/Präsentation/intro.toc
projekt1/Präsentation/intro.synctex.gz
projekt2/Aufgabe2/main2
